@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.card {
    position: relative;

    width: 372px;
    min-width: 372px;
    height: 688px;

    display: flex;
    flex-direction: column;

    padding: 24px;

    border-radius: 24px;
    background-size: cover;

    cursor: pointer;

    &__title-box {
        display: flex;
        flex-direction: column;

        &__label {
            color: #ffffff;
            font-weight: 600;
            font-family: "Noto Sans KR", sans-serif;
        }
        &__title {
            font-size: 23px;
            font-weight: 600;
            font-family: "Noto Sans KR", sans-serif;
        }
    }
    &__btn {
        position: absolute;

        right: 24px;
        bottom: 24px;

        width: 40px;
        height: 40px;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 50%;

        outline: none;
        border: none;

        background-color: #6d6d6d;
    }
}
